.myCanvas {
    left: 160px;
    top: 10px;
    position: absolute;
}

.bg_image {
    height: 594.4px;
    display: block;
    border: 1px solid;
    animation: mymove 10s infinite;
}

.deco_pic1 {
    position: absolute;
    left: 240px;
    top: 110px;
}

.deco_pic2 {
    position: absolute;
    left: 670px;
    top: 150px;
}

.deco_word1 {
    position: absolute;
    left: 745px;
    top: 243px;
}

.deco_pic3 {
    position: absolute;
    left: 50px;
    top: 150px;
}

.deco_word2 {
    position: absolute;
    left: 70px;
    top: 235px;
}

.deco_pic4 {
    position: absolute;
    left: 45px;
    top: 365px;
}

.deco_word3 {
    position: absolute;
    left: 70px;
    top: 300px;
}

.deco_pic11 {
    position: absolute;
    left: 670px;
    top: 365px;
}

.deco_word4 {
    position: absolute;
    left: 745px;
    top: 300px;
}

.deco_pic5 {
    position: absolute;
    left: 325px;
    top: 245px;
    animation: rotate 3s infinite;
}

.deco_pic6 {
    position: absolute;
    left: 425px;
    top: 185px;
    animation: rotate 3s infinite;
}

.deco_pic7 {
    position: absolute;
    left: 485px;
    top: 280px;
    animation: rotate 3s infinite;
}

.deco_pic8 {
    position: absolute;
    left: 415px;
    top: 365px;
    animation: rotate 3s infinite;
}

.deco_pic9 {
    position: absolute;
    left: 405px;
    top: 275px;
    animation: rotate 3s infinite;
}

.deco_pic10 {
    position: absolute;
    left: 335px;
    top: 335px;
    animation: rotate 3s infinite;
}

.deco_btnall {
    background-color: white;
    border: none;
    color: red;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Lucida Handwriting", cursive;
    cursor: pointer;
    position: absolute;
    left: 689.6px;
    top: 24.8px;
    width: 108px;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    display: block;
    border-width: 1px;
    border-color: rgb(107, 106, 106);
    border-style: solid;
}

.deco_btnall:hover {
    background-color: lightslategray;
}

.btn_img {
    position: absolute;
    left: 15.6px;
    top: 5.8px;
    width: 25px;
}

.btn_span {
    position: absolute;
    top: 5px;
    left: 47px;
}

.output_player1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 280px;
    height: 50px;
    font-family: "方正舒体";
    font-size: 35px;
    color: rgba(255, 0, 157, 0.507);
    top: 59.6px;
    left: 548.4px;
}

.output_player2 {
    top: 59.6px;
    left: 4px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 280px;
    height: 50px;
    font-family: "方正舒体";
    font-size: 35px;
    color: rgba(255, 0, 157, 0.507);
}

.output_player3 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 280px;
    height: 50px;
    font-family: "方正舒体";
    font-size: 35px;
    color: rgba(255, 0, 157, 0.507);
    top: 530.8px;
    left: 4px;
}

.output_player4 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 280px;
    height: 50px;
    font-family: "方正舒体";
    font-size: 35px;
    color: rgba(255, 0, 157, 0.507);
    top: 530.8px;
    left: 548.4px;
}

.hty_word {
    position: absolute;
    top: 0px;
    font-size: 6px;
    background-color: rgba(255, 0, 0, 0.096);
    height: 23px;
    font-family: 仿宋;
}

.hty_horn {
    position: absolute;
    top: 0px;
    left: 0px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes mymove {
    0% {
        height: 594.4px;
        display: block;
        border: 1px solid;
    }
    50% {
        height: 594.4px;
        display: block;
        border: 1px solid;
        filter: brightness(50%);
        -webkit-filter: brightness(50%);
    }
    100% {
        height: 594.4px;
        display: block;
        border: 1px solid;
    }
}

.btn567 {
    cursor: pointer;
    color: white;
    background: #50aefc;
    width: 70px;
    height: 35px;
    border-radius: 50px;
    -webkit-transform: scale(1, 0.9);
    border: 0px;
    position: absolute;
}

.one:hover {
    background-color: #4cc9f0;
    -webkit-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
    -moz-box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
    box-shadow: 10px 10px 99px 6px rgba(76, 201, 240, 1);
    transition: all ease-in 0.02s;
    border: 0px;
}

.btn789 {
    cursor: pointer;
    color: white;
    background: red;
    width: 70px;
    height: 35px;
    border-radius: 50px;
    -webkit-transform: scale(1, 0.9);
    border: 0px;
    position: absolute;
}

.btn789:hover {
    color: white;
    border: 0;
}

.two:hover {
    background-color: rgb(251, 175, 0);
    -webkit-box-shadow: 10px 10px 99px 6px rgb(251, 175, 0);
    -moz-box-shadow: 10px 10px 99px 6px rgb(255, 175, 0);
    box-shadow: 10px 10px 99px 6px rgb(255, 175, 0);
    transition: all ease-in 0.02s;
    border: 0px;
}