.myCanvas {
    left: 160px;
    top: 10px;
    position: absolute;
}
.bg_image {
    height: 594.4px;
    display: block;
    border: 1px solid;
}

.deco_word3 {
    position: absolute;
    font-size: 20px;
    font-family: "Lucida Handwriting", cursive;
    top: 10px;
    left: 200px;
    color: red;
}

.deco_pic1 {
    position: absolute; 
    left: 230px; 
    top: 110px;
}

.deco_pic2 {
    position: absolute; 
    left: 650px; 
    top: 240px;
}
.deco_pic9 {
    position: absolute; 
    left: 50px; 
    top: 240px;
}
.deco_word1 {
    position: absolute;
    left: 70px;
    top: 170px;
}
.deco_word2 {
    position: absolute;
    left: 710px;
    top: 170px;
}

.deco_pic3 {
    position: absolute; 
    left: 450px; 
    top: 280px;
}
.deco_pic4 {
    position: absolute; 
    left: 350px; 
    top: 190px;
}
.deco_pic5 {
    position: absolute; 
    left: 440px; 
    top: 210px;
}
.deco_pic6 {
    position: absolute; 
    left: 350px; 
    top: 380px;
}
.deco_pic7 {
    position: absolute; 
    left: 330px; 
    top: 280px;
}
.deco_pic8 {
    position: absolute; 
    left: 460px; 
    top: 360px;
}

.deco_btn1 {
    position: absolute; 
    left: 320px; 
    top: 510px;
}
.deco_btn2 {
    position: absolute; 
    left: 450px; 
    top: 510px;
}

.deco_btnall {
    background-color: white;
    border: none;
    color: red;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Lucida Handwriting", cursive;
    cursor: pointer;
    position: absolute;
    left: 689.6px;
    top: 24.8px;
    width: 108px;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    display: block;
    border-width: 1px;
    border-color: rgb(107, 106, 106);
    border-style: solid;
}
.deco_btnall:hover {
    background-color: lightslategray;
}
.btn_img {
    position: absolute;
    left: 15.6px;
    top: 5.8px;
    width: 25px;
}
.btn_span {
    position: absolute;
    top: 5px;
    left: 47px;
}

.output_player1 {
    position: absolute;
    top: 180.2px;
    left: 541.2px;
    background-color: rgba(0, 0, 0, 0);
    width: 280px;
    height: 50px;
    font-family: "方正舒体";
    font-size: 35px;
    color: rgba(255, 0, 157, 0.507);
}